<a href="https://colab.research.google.com/github/dapousman/BigDataProject/blob/main/BigDataFinalExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!tar xf spark-3.2.1-bin-hadoop3.2.tgz

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"

In [ ]:
!pip install -q findspark

In [ ]:
import findspark
findspark.init()

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
  .master("local")\
  .appName("Colab")\
  .config('spark.ui.port', '4050')\
  .getOrCreate()

In [ ]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = spark.read.format('com.databricks.spark.csv').options(header='true', inferschema='true').load("/content/drive/MyDrive/Big Data/Top 200 Highest Grossing Movies.csv",header=True)

In [ ]:
df.show(10,False)

+----+------------------------------------------+---------------+----+
|Rank|Title                                     |Lifetime Gross |Year|
+----+------------------------------------------+---------------+----+
|1   |Avatar                                    |$2,847,397,339 |2009|
|2   |Avengers: Endgame                         |$2,797,501,328 |2019|
|3   |Titanic                                   |$2,201,647,264 |1997|
|4   |Star Wars: Episode VII - The Force Awakens|$2,069,521,700 |2015|
|5   |Avengers: Infinity War                    |$2,048,359,754 |2018|
|6   |Spider-Man: No Way Home                   |$1,901,218,408 |2021|
|7   |Jurassic World                            |$1,671,537,444 |2015|
|8   |The Lion King                             |$1,663,250,487 |2019|
|9   |The Avengers                              |$1,518,815,515 |2012|
|10  |Furious 7                                 |$1,515,341,399 |2015|
+----+------------------------------------------+---------------+----+
only showing top 10 rows

In [ ]:
df_filtered = df.filter("Year > 2010")
df_filtered.select("Title", "Year", "Lifetime Gross").show(50, False)

+---------------------------------------------+----+---------------+
|Title                                        |Year|Lifetime Gross |
+---------------------------------------------+----+---------------+
|Avengers: Endgame                            |2019|$2,797,501,328 |
|Star Wars: Episode VII - The Force Awakens   |2015|$2,069,521,700 |
|Avengers: Infinity War                       |2018|$2,048,359,754 |
|Spider-Man: No Way Home                      |2021|$1,901,218,408 |
|Jurassic World                               |2015|$1,671,537,444 |
|The Lion King                                |2019|$1,663,250,487 |
|The Avengers                                 |2012|$1,518,815,515 |
|Furious 7                                    |2015|$1,515,341,399 |
|Frozen II                                    |2019|$1,450,026,933 |
|Avengers: Age of Ultron                      |2015|$1,402,809,540 |
|Black Panther                                |2018|$1,347,597,973 |
|Harry Potter and the Deathly Hallows: Part 2 |2011|$1,342,359,942 |
|Star Wars: Episode VIII - The Last Jedi      |2017|$1,332,698,830 |
|Jurassic World: Fallen Kingdom               |2018|$1,310,466,296 |
|Frozen                                       |2013|$1,281,508,100 |
|Beauty and the Beast                         |2017|$1,273,576,220 |
|Incredibles 2                                |2018|$1,243,089,244 |
|The Fate of the Furious                      |2017|$1,236,005,118 |
|Iron Man 3                                   |2013|$1,214,811,252 |
|Minions                                      |2015|$1,159,444,662 |
|Captain America: Civil War                   |2016|$1,153,337,496 |
|Aquaman                                      |2018|$1,148,528,393 |
|Spider-Man: Far from Home                    |2019|$1,131,927,996 |
|Captain Marvel                               |2019|$1,128,462,972 |
|Transformers: Dark of the Moon               |2011|$1,123,794,079 |
|Skyfall                                      |2012|$1,108,569,499 |
|Transformers: Age of Extinction              |2014|$1,104,054,072 |
|The Dark Knight Rises                        |2012|$1,081,153,097 |
|Joker                                        |2019|$1,074,445,730 |
|Star Wars: Episode IX - The Rise of Skywalker|2019|$1,074,149,279 |
|Toy Story 4                                  |2019|$1,073,394,593 |
|Rogue One: A Star Wars Story                 |2016|$1,056,057,720 |
|Aladdin                                      |2019|$1,050,693,953 |
|Pirates of the Caribbean: On Stranger Tides  |2011|$1,045,713,802 |
|Despicable Me 3                              |2017|$1,034,800,131 |
|Finding Dory                                 |2016|$1,028,570,942 |
|Zootopia                                     |2016|$1,024,121,104 |
|The Hobbit: An Unexpected Journey            |2012|$1,017,030,651 |
|Despicable Me 2                              |2013|$970,766,005   |
|The Jungle Book                              |2016|$966,554,929   |
|Jumanji: Welcome to the Jungle               |2017|$962,542,945   |
|The Hobbit: The Battle of the Five Armies    |2014|$962,201,338   |
|The Hobbit: The Desolation of Smaug          |2013|$959,027,992   |
|Doctor Strange in the Multiverse of Madness  |2022|$935,883,660   |
|Bohemian Rhapsody                            |2018|$910,809,311   |
|The Battle at Lake Changjin                  |2021|$902,540,935   |
|Spectre                                      |2015|$880,681,519   |
|Spider-Man: Homecoming                       |2017|$880,166,924   |
|Ice Age: Continental Drift                   |2012|$877,244,782   |
|The Secret Life of Pets                      |2016|$875,458,631   |
+---------------------------------------------+----+---------------+
only showing top 50 rows